.ublique-detail-items-grid {
  .ag-body-viewport {
    height: 100%;
    max-height: 15rem;
  }

  .document-actions-row {
    display: flex;
  }

  .ag-root-wrapper {
    overflow: visible;
  }

  .ag-react-container {
    min-width: 10rem;
  }

  // handle horizontal scroll and single vertical scroll
  .ag-center-cols-viewport {
    overflow-x: auto;
    //overflow: auto;
  }

  .ag-overlay-no-rows-wrapper {
    &.ag-overlay-no-rows-wrapper {
      padding-top: 48px;
    }
  }
  .ublique-grid--actions-header {
    display: flex;
    width: 100%;
  }

  .container > div {
    width: 100%;
  }
}

.detail-grid-delete-tooltip {
  padding: 0;

  .bx--tooltip__content {
    position: relative;
    overflow: hidden;
    border-radius: 0.125rem;
    padding: 1rem;
  }

  .tooltip-time-bar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--interactive-04);
    height: 4px;
    width: 100%;
    transform: scaleX(1);
    transition: transform 3s linear;
    transform-origin: left;

    &.tooltip-time-bar--animated {
      transform: scaleX(0);
    }
  }
}
