.tour-detail-section {
  margin-bottom: 40px;

  &__header {
    margin-bottom: 28px;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
  }

  &__header-right-component {
    margin-left: auto;
  }

  @media screen and (max-width: 671px) {
    & {
      flex-direction: column;
      align-items: flex-start;

      &__header-right-component {
        margin-top: 12px;
        margin-left: 0;
      }
    }
  }
}
