.undo-button {
  &--is-loading {
    pointer-events: none;
  }

  &__loading-icon {
    width: 24px;
    height: 24px;

    .bx--loading__svg {
      transform: scale(1.4);
    }

    .bx--loading__stroke {
      stroke: #f6f6f6;
      fill: transparent;
    }
  }
}
