.custom-chart-tooltip {
  .title {
    padding: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-weight: bold;
  }
  .value {
    padding: 7px;
    line-height: 1.7em;
  }
}
