.grounded-orders-modal-createTour {
  .bx--modal-content {
    padding-right: 16px;
    overflow: visible;
  }
  .grid {
    padding: 0;

    .title {
      border-bottom: 1px solid rgba(244, 244, 244, 0.4);
      margin-bottom: 0.5em;
      padding: 2.5em 0 0.5em;
    }
    .datePicker {
      width: 100%;

      & > div {
        width: 100%;
        &.bx--date-picker-input__wrapper {
          width: 100%;
          & input {
            width: auto;
          }
        }
      }
    }
  }
}

.bx--modal-container {
  overflow: visible;
}
.timePicker {
  width: 100%;

  input[type='time']::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  & > div {
    width: 100%;
    & > input {
      width: 100%;
    }
  }
}

.uploadButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
