@import '~@ublique/components/theme';

.creation-step {
  .bx--modal-container {
    width: 45% !important;
  }
}

.form-step {
  .bx--modal-container {
    width: 65% !important;
  }
}

#wizard-container {
  @import 'styles/recap.scss';
  @import 'styles/upload.scss';
  @import 'styles/wizard-item.scss';
  @import 'styles/input-elements.scss';

  /*------------------------- Shell section -------------------------*/

  .bx--modal-header {
    margin-bottom: 0;
  }

  .bx--modal-content {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;

    & > .bx--grid {
      padding-top: 7px;
    }
  }

  .overflow-box {
    height: 300px;
    overflow-y: auto;
    // padding-top: 1.75rem;

    & > div.bx--row {
      margin-right: 0;
      margin-left: 0;

      & > div.bx--col {
        padding-left: 0;
      }
    }
  }

  form {
    width: 100%;
  }

  /*------------------------- Creation Step -------------------------*/
  #scenario-creation-heading > div {
    padding: 0;
  }

  /*------------------------- Form Step -------------------------*/
  #summary {
    background: $ui-03;
    height: 370px;
    padding: 0;
    width: 30%;

    h5 {
      font-weight: 400;
    }

    & > header {
      background-color: $ui-05;
      color: $ui-background;
      padding: 0.5rem 1rem;
    }

    & > section {
      padding-left: 1.25rem;
      padding-right: 0.75rem;
      padding-top: 0.75rem;

      h5 {
        color: $text-01;
      }

      p {
        color: $text-05;
        font-size: 0.9rem;
      }
    }

    div {
      margin: 0.75rem 0;
    }
  }

  #stepper {
    padding-left: 1rem;
    width: 70%;

    & > .bx--grid > .bx--row {
      margin: 0;
    }

    .bx--progress {
      margin-bottom: 2rem;

      & li {
        margin-right: 0.5rem;
      }

      & li:last-child {
        margin-right: 0;
      }
    }
  }

  #error-config {
    h4,
    p {
      margin-top: 0.5rem;
    }
  }

  /*------------------------- Footer section -------------------------*/
  .buttons-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;

    a {
      cursor: pointer;
      color: #af144b;
      margin-right: 1rem;
    }
  }

  /*------------------------- Various customizations -------------------------*/
  hr {
    width: 100%;
  }

  @media (max-width: 1000px) {
    & > div.bx--row {
      flex-direction: row;
    }
  }

  .bx--modal.is-visible {
    height: 100%;
  }

  .bx--grid {
    margin: 0;
    padding: 0;
  }
}
