.tour-sequence-table {
  .align-text {
    text-align: center;
    color: var(--text-01);
  }

  td {
    padding: 10px;
  }

  &__cell {
    border-collapse: collapse;
    border: 1px solid var(--interactive-02);
    box-sizing: border-box;
  }
}
