/** BREAKPOINTS DEFINITION **/
$chart-margin: 1rem;
$breakpoint-md: 800px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1200px;

.scenario-dashboard {
  .dashboard-heading,
  .dashboard-subtitle {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .dashboard-subtitle {
    & > .bx--dropdown__wrapper {
      max-width: 200px;
    }

    .bx--dropdown,
    .bx--dropdown__wrapper {
      width: 100% !important;
    }
  }

  .dashboard-charts {
    max-width: 100%;

    &.bx--grid {
      margin: 0;
      padding: 0;
    }

    .bx--col {
      display: flex;
      flex-direction: column;
      max-width: 50%;
    }

    .bx--row {
      box-sizing: border-box;
      margin-left: -$chart-margin;
      margin-right: -$chart-margin;
      margin-bottom: 0;

      & .long-chart {
        background: var(--ui-01);
        display: flex;
        flex-direction: column;
        min-height: 450px;
        padding: 1rem;
        margin: $chart-margin;
      }

      .quarter-chart {
        background: var(--ui-01);
        padding: 1rem;
        position: relative;
        margin: $chart-margin;
      }

      .chart-label-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;

        .chart-label {
          display: flex;
          flex-direction: column;
          margin: auto;
          text-align: center;

          span {
            font-size: 16px;
          }
        }
      }
    }

    .card-number {
      display: flex;
      flex-direction: column;
      height: 100%;

      p {
        margin-bottom: auto;
      }
      span {
        font-size: 6rem;
      }
    }
  }

  @media (min-width: $breakpoint-xl) {
    .quarter-chart {
      max-width: calc(25% - #{$chart-margin} * 2) !important;
      flex: 0 0 calc(25% - #{$chart-margin} * 2);
    }

    .long-chart {
      max-width: calc(50% - #{$chart-margin} * 2) !important;
      flex: 0 0 calc(50% - #{$chart-margin} * 2);
    }
  }

  @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
    .quarter-chart {
      max-width: calc(50% - #{$chart-margin} * 2) !important;
      width: calc(50% - #{$chart-margin} * 2) !important;
      flex: 0 0 calc(50% - #{$chart-margin} * 2);
    }

    .long-chart {
      max-width: calc(50% - #{$chart-margin} * 2) !important;
      flex: 0 0 calc(50% - #{$chart-margin} * 2);
    }
  }

  @media (max-width: $breakpoint-lg) {
    .quarter-chart {
      max-width: 100% !important;
      width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    .long-chart {
      max-width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      width: 100%;
    }

    .bx--row {
      flex-direction: column;
    }
  }
}
