@import '~@ublique/components/theme';

$header-heigth: 97px;
$horizontal-scroll-heigth: 16px;
$paging-height: 48px;

.input-view {
  display: flex;
  flex-direction: column;
  height: calc(100% - 18px);
  .model-title {
    width: 100%;
    display: flex;
    align-items: center;
    & > span {
      position: absolute;
      top: 50%;
      right: 5px;
      height: 16px;
      transform: translateY(-50%);
    }
  }

  .bx--multi-select {
    width: 250px;
  }

  .ublique-tabs-container {
    height: calc(100% - 3rem);

    .bx--tab-content {
      height: 100%;
    }

    .ublique-tabs-content {
      // overflow: unset;
      height: calc(100% - 2.5rem);

      .ublique-datatable.inputview-grid {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;

        & > .container {
          position: unset;
          height: 3rem;
          flex: 0;
          position: sticky;
          top: 0;
          z-index: 1000;
          background-color: $ui-background;
        }

        .ag-custom-loading-cell > .bx--skeleton__placeholder {
          width: 20rem;
          margin-left: 1rem;
          height: 1.5rem;
          border-bottom: 0;
        }

        .ag-grid-table {
          min-height: 0 !important;
          max-height: calc(100% - 3rem);

          & > div > .ag-root-wrapper {
            height: 100%;

            > .ag-root-wrapper-body {
              height: calc(100% - #{$paging-height});

              > .ag-root {
                height: 100%;

                > .ag-body-viewport {
                  overflow: auto;
                  max-height: calc(100% - #{$header-heigth});
                }
              }
            }
          }
        }
      }
    }
  }

  .document-actions-row {
    // display: flex;
    margin-left: auto;
    justify-content: flex-end;
  }

  .active-selection {
    background-color: darkgrey;
  }

  .selected-row-count {
    align-items: center;
    display: flex;
    flex-grow: 1;
    padding: 0.5rem 1rem;
  }

  .document-header-row {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    margin: 0.5rem 0;

    .header-title {
      max-width: 80%;
    }

    .renew-icon {
      margin-left: 1rem;
    }
  }

  .ag-header-cell .ag-react-container {
    width: 100%;
  }

  .conditional-formatting {
    .ag-row-level-1,
    .ag-center-cols-clipper .master-row {
      border-left: none !important;
    }

    &-border-left {
      .ag-pinned-left-cols-container .ag-cell {
        margin-left: -6px;
      }
    }
  }
}

.loader-document {
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 100000;
}

.bx--accordion__content {
  padding-left: 0px;
  padding-right: 0px;
}

.bx--side-nav--expanded .bx--accordion__title {
  display: block;
}

#modal-deletion-error > .bx--modal-container {
  max-height: 60%;

  .bx--modal-header__heading {
    color: $danger;
  }

  .modal-body-response {
    margin-top: 1rem;

    div {
      margin-bottom: 0.5rem;
    }
  }

  .name-error {
    color: $text-05;
  }
}

/* Must be global */
.uneditable-cell {
  background-color: var(--disabled-01);
  cursor: not-allowed;
  opacity: 0.6;
}

.invalid-cell {
  border: 1px solid red !important;
}

.model-info-modal {
  .ublique-tabs-content {
    height: calc(100vh - 300px);
  }
  .bx--modal-container {
    .bx--modal-content {
      padding: 1em;
      .tab-wrapper {
        padding: 2em 0 0;
      }
    }
  }
}

.model-info-rule-main-field {
  color: var(--interactive-04);
}
.model-info-rule-single-rule {
  padding-left: 1em;
  &:not(:last-of-type) {
    padding-bottom: 0.5rem;
  }

  .rule-leaf-field {
    text-decoration: underline;
  }
  .rule-conjunction {
    font-weight: bold;
    text-transform: capitalize;
  }
}
