.ublique-document-page {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  height: 100%;

  .ublique-document-page--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ublique-document-page--form-container {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
  }

  .skeleton-main-section {
    margin: 18px 0;
  }

  .document-skeleton > * {
    margin-bottom: 42px;
  }
}

.document-detail-tabs-mode {
  .ublique-tabs-content {
    margin-top: 20px;
  }
}

.input-view-editing-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--interactive-04);
}
