.filters-section-header {
  h3 {
    border-bottom: 1px solid white;
    margin-top: 30px;
    margin-bottom: 16px;
    padding-bottom: 4px;
  }
}

.advanced-filters-modal {
  .bx--modal-container {
    width: 70%;
    max-width: 1024px;
  }
}

.filters-wrapper {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-top: 10px;

  .quick-filters {
    flex: 1;
    display: flex;

    .quick-filter-item {
      flex: 1;
      margin-right: 30px;
    }
  }

  .filters-actions {
    display: flex;
    align-items: center;

    &__buttons {
      border-right: 1px solid grey;
      margin-right: 20px;
      padding-right: 20px;

      .filters-count {
        margin-left: 4px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: stretch;
    .filters-actions {
      margin-top: 16px;
    }
  }
}
