.flatpickr-months {
  .flatpickr-current-month {
    height: 2rem;

    .flatpickr-monthDropdown-months {
      background: transparent;
      color: white;
      border: 0;
      height: 2rem;
      font-weight: 600;
    }
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.input-customdate-button {
  color: white;
  margin-left: 10px;

  &:hover {
    color: #2196f3;
  }
}
