.header-inner {
  margin-top: 48px;
  margin-bottom: 0;
}

.tab-header {
  margin-bottom: 20px;

  &--scenario {
    margin-top: 32px;
  }

  &--plan .bx--row {
    margin-top: 8px;
  }

  .bx--row {
    align-items: flex-end;
  }
}

.plan-kpis-view {
  .bx--tab-content {
    padding: 1rem 0;
  }
}

.scatter-tooltip {
  overflow: hidden;
  &__data {
    padding: 12px;
    span {
      display: block;
      &:not(:last-of-type) {
        margin-bottom: 4px;
      }
    }
  }
  &__header {
    padding: 12px;
    padding-bottom: 0;
    font-size: 12px;
    font-weight: bold;
  }
}

.loader-centered {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focus-tabs {
  .ublique-tabs-tabs {
    margin-bottom: 32px;
  }
}
