.ublique-datetime {
  > .bx--text-input__field-wrapper > .bx--text-input {
    display: flex;
    padding-left: 0;
    padding-right: 0;

    &:focus,
    &:focus-within {
      outline: 2px solid #ffffff;
    }
  }

  &.disabled .bx--text-input__field-wrapper {
    border-bottom: 1px solid var(--disabled-02);
    .bx--text-input {
      border-bottom: unset;
    }
    .bx--text-input:disabled {
      border-bottom: unset;
    }
  }

  .bx--date-picker__input,
  .bx--time-picker__input-field {
    outline: none;
    background: transparent;
    border-bottom: transparent;
  }

  .bx--text-input--invalid {
    .bx--date-picker__input,
    .bx--time-picker__input-field {
      padding-right: 48px;
    }
  }
}

input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
