.tour-sequence {
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__header {
    background: var(--text-02);
    padding: 0.5rem 1rem;
    color: var(--inverse-01);
    display: flex;
    align-items: center;

    .header-action-button {
      padding: 0.5rem;
      min-height: auto;
    }

    .header-title {
      display: flex;
      align-items: center;
      .bx--checkbox-wrapper,
      .custom-checkbox {
        margin-right: 8px;
      }
    }

    .header-actions {
      margin-left: auto;
    }
  }

  &__body {
    padding: 1.2rem;
    width: 100%;
    background: var(--ui-background);
    border: 1px solid var(--text-02);

    .bx--grid {
      margin-bottom: 40px;
    }

    .bx--data-table {
      width: 120%;
    }

    .info-row {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      .info-col {
        flex: 1;
        padding: 0 8px;

        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }

    .info-title {
      font-size: 16px;
      font-style: normal;
      font-weight: bold;
    }

    .info-subtitle {
      font-size: 14px;
      font-weight: 400;
    }

    .orders-accordion {
      margin-top: 30px;

      .bx--accordion__heading:hover::before,
      .bx--accordion__heading:focus::before {
        top: 0;
      }

      .bx--accordion__item {
        border: none;
        border-top: 1px solid var(--text-02);
      }

      .bx--accordion__content {
        padding: 0;
        padding-top: 0.5rem;
      }
    }
  }

  @media screen and (max-width: 767px) {
    &__body {
      .info-row {
        flex-direction: column;

        .info-col {
          padding: 0;
          &:not(:last-child) {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
