@import '~@ublique/components/theme';

.ublique-select {
  &.display {
    .bx--text-input {
      outline: 2px solid #ffffff;
      outline-offset: -2px;
    }
    .bx--text-input--invalid {
      outline: 2px solid #f88289;
      outline-offset: -2px;
    }
  }

  &.disabled {
    .bx--text-input__field-wrapper {
      cursor: not-allowed;
      .bx--text-input {
        pointer-events: none;
        span {
          color: $disabled-02;
        }
      }
    }

    .bx--select-icon {
      color: $disabled-02;
    }
  }

  .bx--text-input__field-wrapper[data-invalid] {
    .bx--select-icon {
      display: none;
    }
  }

  .bx--text-input {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 2rem;
  }

  .bx--select-icon {
    --rotate: 0deg;

    position: absolute;
    right: 0.5rem;
    top: 50%;

    height: 16px;

    cursor: pointer;

    transform: translateY(-50%) rotate(var(--rotate));
    transform-origin: center;
    transition: 0.2s linear;
  }

  .bx--select-icon-active {
    --rotate: 180deg;
  }

  .bx--select-danger-icon {
    color: #f88289;
    position: absolute;
    right: 0.5rem;

    height: 16px;

    cursor: pointer;
  }

  .bx--select-value {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .items {
    position: absolute;
    border: 1px solid $ui-01;
    border-bottom: none;
    border-top: none;
    z-index: 5000;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow-y: auto;

    .option {
      &.current {
        background-color: $ui-03;
        border-bottom: 1px solid $ui-04;
      }
    }
  }
}
