.import-service-modal {
  .bx--modal-content {
    padding-right: 1rem;
  }
  .file-recap,
  .file-import-error {
    margin-bottom: 12px;
  }
  .uploader-wrapper {
    .bx--file {
      max-width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      .bx--file-browse-btn {
        max-width: 100%;
      }
      .bx--file__drop-container {
        padding: 1rem;
        align-items: center;
        justify-content: center;
        display: flex;
      }
    }
  }
}

.import-validation-errors {
  .header {
    color: var(--danger);
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    h3 {
      margin-left: 8px;
    }
  }
  .sheets-accordion {
    margin-top: 16px;
  }
  .errors-list {
    padding: 0 24px;
  }
  .row {
    font-weight: bold;
    margin-right: 8px;
  }
  .reason {
    color: var(--text-02);
  }
}
