.notifications {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9100;
  pointer-events: none;

  .inline-notifications__container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .toast-notifications__container {
    position: absolute;
    pointer-events: auto;
    bottom: 0;
    right: 0;
  }

  .bx--inline-notification {
    pointer-events: auto;
    margin: 20px auto;
    transform: translate3d(0, calc(-100% - 20px), 0);
    transition: transform 0.2s ease-out, opacity 0.1s linear;
    opacity: 0;

    &.wrap {
      white-space: pre;
    }

    &.visible {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}
