.gantt-wrapper {
  position: relative;
  height: 100%;

  .b-gantt-task.placeholder-task {
    display: none;
  }

  .gantt-loader {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
