$margin-half: 16px;

.slide-panel {
  overflow: hidden;
}

.tour-detail-panel {
  height: 100%;

  .slide-panel__content {
    display: flex;
    height: calc(100% - 56px);
    width: 100%;
    margin-top: 28px;

    .left-column {
      width: calc(25% - 16px);
      margin-right: $margin-half;
      background-color: var(--ui-background);
      overflow-y: auto;
    }

    .right-column {
      width: calc(75% - 16px);
      margin-left: $margin-half;
      overflow-y: auto;
    }
  }
}

@media screen and (max-width: 1023px) {
  .tour-detail-panel {
    overflow-y: auto;

    .slide-panel__content {
      height: auto;
      flex-direction: column;

      .right-column,
      .left-column {
        width: 100%;
        margin: 0;
      }

      .right-column {
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .slide-panel {
    padding: 20px;
    padding-top: 40px;
  }
}
