.orders-panel {
  &-extra-info {
    display: flex;
    margin-top: 20px;

    p {
      margin-bottom: 8px;
    }

    > div:not(:last-child) {
      margin-right: 80px;
    }

    .label {
      font-weight: bold;
    }
  }

  &-no-data {
    height: 240px;
    display: flex;

    h4 {
      margin: auto;
    }
  }
}
