.table-action-modal {
  .bx--modal-container,
  .bx--modal-content {
    overflow: visible;
  }
}

.orders-table {
  .row-actions {
    margin-top: 24px;
  }
}

.detail-row-wrapper {
  padding: 40px;

  .action-buttons-row {
    display: flex;
    > * {
      margin-left: auto;
    }
  }
}

.pos-relative {
  position: relative;
}

.header-actions {
  .bx--dropdown .bx--list-box__field {
    padding: 0 4rem 0 1rem;
  }
}
