#scenario {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-y: auto;

  /*------------------------- Sidenav section -------------------------*/
  @media (max-width: 65.98rem) {
    .bx--side-nav__overlay-active {
      display: none;
    }
  }

  /*------------------------- Main section -------------------------*/
  .scenario-shell {
    .scenario-sidenav {
      position: static;
      min-width: 120px;
    }
  }

  .scenario-main {
    width: 100%;

    &.scenario-padding {
      .scenario-manager,
      .scenario-dashboard {
        padding: 1rem;
      }
    }
  }

  .scenario-center {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
