.output-view-main-content {
  & {
    overflow: hidden;
  }
}

.tours-management-layout {
  margin-top: 32px;
  padding-bottom: 32px;

  > .bx--grid {
    padding-left: 0;
    padding-right: 0;
  }

  .filters-row {
    margin-bottom: 40px;
  }

  .section-title {
    margin-bottom: 20px;
  }

  .ag-root-wrapper {
    overflow: visible;
  }

  .header-overflowmenu {
    margin: 0;
    display: flex;
    align-items: center;
  }
  /* .ag-row-level-1 {
    &.ag-row.ag-row-hover {
      background-color: var(--ag-background-color);
    }
    &.ag-row-odd.ag-row-hover {
      background-color: var(--ag-odd-row-background-color);
    }
  } */
}

.table-action-modal {
  &.plan-selection {
    .bx--modal-content {
      padding-right: 16px;
    }
  }
  .plan-selection-table {
    margin-top: 20px;
  }
}
