.resources-field {
  span {
    display: block;
  }
  &__title {
    color: var(--text-02);
    font-size: 12px;
    margin: 8px 0;
  }
  &__value {
    padding-left: 1rem;
    padding-top: 1rem;
  }
}

.resource-save-button {
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;

  > * {
    width: 100%;
  }

  &--loading {
    min-height: 3rem;
    background-color: var(--interactive-01);
    display: flex;
    align-items: center;
    padding-right: 63px;

    .bx--inline-loading__text {
      color: var(--text-04);
      font-size: 0.875rem;
      line-height: 1.29;
    }

    .bx--loading__svg,
    .bx--loading__stroke {
      stroke: var(--text-04);
    }

    .bx--loading__background {
      stroke: transparent;
    }
  }
}
