@import '~@ublique/components/theme';

$input-margin-h: $spacing-04;
$input-margin-v: $spacing-03;

@mixin columns($elementsPerRow: 1) {
  $base-width: #{100% / $elementsPerRow};

  &.layout-#{$elementsPerRow} {
    &.filler:after {
      content: '';
      flex: 10000 1;
      min-width: $base-width;
    }
    > div,
    %layout-#{$elementsPerRow} {
      flex: 1;
      flex-basis: calc(#{$base-width} - #{2 * $input-margin-h});
    }
  }
}

@mixin columnsMobile($elementsPerRow: 1) {
  $base-width: #{100% / $elementsPerRow};

  &.layout-#{$elementsPerRow} {
    &.filler:after {
      content: none;
    }
  }
}

.ublique-form-section {
  margin: $spacing-05 0;
  padding: $spacing-05;
  background-color: $field-01;

  .ublique-form-section-group {
    display: flex;
    flex-flow: row wrap;
    margin: 0 (-$input-margin-h);

    & > div {
      min-width: 10rem;
      box-sizing: border-box;
      margin: $input-margin-v $input-margin-h;
    }

    @include columns(1);
    @include columns(2);
    @include columns(3);
    @include columns(4);
    @include columns(5);

    input[type='time']::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }

    .bx--text-input:disabled {
      border-bottom: 1px solid #6f6f6f;
    }

    .bx--date-picker {
      display: flex;
      width: 100%;
      .bx--date-picker-container {
        flex: 1;
        .bx--date-picker__input {
          width: 100%;
        }
      }
    }

    .bx--form-item
      > .bx--time-picker
      > .bx--time-picker__input
      .bx--time-picker__input-field {
      width: 100%;
    }

    .datetime-container {
      display: flex;

      .bx--form-item > .bx--time-picker .bx--time-picker__input {
        border-left: 1px solid #8d8d8d;
      }
    }

    .bx--number {
      display: flex;
      width: 100%;
      .bx--number__input-wrapper {
        flex: 1;
      }
    }

    .bx--time-picker,
    .bx--time-picker__input {
      width: 100%;
      .bx--time-picker__input-field {
        width: 100%;
      }
    }

    .bx--checkbox-wrapper {
      flex-direction: column;
      justify-content: center;
    }

    .bx--select {
      width: 100%;
      .bx--select-input__wrapper {
        width: 100%;
        .bx--select-input {
          width: 100%;
          max-width: unset;
        }
      }
    }
    @media only screen and (max-width: 399px) {
      & > div {
        max-width: unset;
      }

      @include columnsMobile(1);
      @include columnsMobile(2);
      @include columnsMobile(3);
      @include columnsMobile(4);
      @include columnsMobile(5);
    }
  }
}
