.section-header {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;

  &__right-component {
    margin-left: auto;
  }

  @media screen and (max-width: 671px) {
    & {
      flex-direction: column;
      align-items: flex-start;

      &__right-component {
        margin-top: 12px;
        margin-left: 0;
      }
    }
  }
}
