.content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;

  .side-nav-container {
    flex: 0;
    .bx--side-nav__overlay {
      display: none;
    }
  }

  .bx--breadcrumb {
    padding-left: 2rem;
  }

  .main-content {
    flex: 1;
    overflow-y: auto;
    height: 100%;
    padding: 1rem;

    .main-content-breadcrumbs {
      padding-left: 2rem;
    }

    &.overflow-y-hidden {
      overflow-y: hidden;
    }
  }
}
