.stats-panel-container {
  position: relative;
  background: var(--ui-background);

  &__title {
    background: var(--text-02);
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: var(--inverse-01);
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5em 1em;
    word-spacing: 1px;

    .item-title {
      font-weight: bold;
    }

    .item-value {
      font-size: 16px;
      font-weight: normal;
    }
  }

  @media screen and (max-width: 671px) {
    & {
      flex-direction: column;
      align-items: center;
    }
  }
}
