.slide-panel-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.16);
  display: none;
  z-index: 50;

  &.opened {
    display: block;
  }
}

.slide-panel {
  position: fixed;
  background-color: var(--ui-01);
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.2s ease-out;
  overflow-y: auto;
  z-index: 100;

  &.opened {
    transform: translateX(0);
  }

  &__close-icon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px;
    transition: background-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
    background-color: transparent;
    color: unset;
    border: 2px solid transparent;
    cursor: pointer;

    &:focus {
      border: 2px solid var(--focus);
      outline: none;
    }

    &:hover {
      background-color: var(--hover-ui);
    }
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: var(--ui-01);
    padding: 40px;
    padding-bottom: 20px;
  }

  &__title {
    h4 {
      color: var(--text-02);
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1rem;
      letter-spacing: 0.32px;
      margin-bottom: 0.25rem;
    }
    h3 {
      color: var(--text-01);
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.75rem;
      letter-spacing: 0;
    }
  }

  &__content {
    padding: 40px;
    padding-top: 0;
  }
}
