.chart-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 20px; // space for legend
    left: 0;
    display: flex;
    pointer-events: none;

    > div {
      margin: auto;
    }

    span {
      display: block;
      font-size: 16px;
      text-align: center;
    }

    &__text {
      font-weight: normal;
      margin-bottom: 4px;
    }
  }
}
