.row-actions {
  display: flex;
  justify-content: space-between;
  background: #c4c4c4;

  .text-box {
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    padding-left: 1em;
  }
}
