.map-tooltip-content {
  padding: 6px;
  padding-top: 10px;

  span {
    font-size: 16px;
  }

  .name {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    .danger-icon {
      color: crimson;
      margin-right: 4px;
    }
    span {
      font-weight: bold;
      font-size: 18px;
    }
  }

  .pos-name {
    font-weight: bold;
    margin-right: 8px;
  }

  .loading-container {
    height: 44px;
    width: 100%;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
