.modal-password-management {
  div.bx--modal-container {
    max-width: 24rem;
  }
  div.bx--form-item {
    margin-top: 0.25rem;
  }
  .modal-password-management-inner-box {
    margin-bottom: 2rem;
    .password-management-input-container {
      margin: 1.5rem 0;
    }
  }

  .update-password-guideline {
    display: flex;
    flex-direction: column;
    .update-password-info-icon {
      margin-bottom: 0.5rem;
    }
  }
}
