.check-tour-results-tooltip {
  position: absolute;
  min-width: 200px;
  height: auto;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.4s;
  background-color: rgba(20, 20, 20, 0.98);
  border: 1px solid #666;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);

  &__content {
  }

  &.ag-tooltip-hiding {
    opacity: 0;
  }

  p {
    font-size: 14px;
    color: #fafafa;
  }
}
