@import '~@ublique/components/theme';

.bx--time-picker {
  flex: 1;
}

.bx--select,
.bx--date-picker,
.bx--select-input__wrapper,
.bx--date-picker-container,
.bx--date-picker__input,
.bx--time-picker__input,
.bx--time-picker__input > input {
  width: 100% !important;
}

.bx--select-input {
  min-width: 100%;
  padding-right: 0;
}

.bx--text-input__field-outer-wrapper {
  width: 100%;
}

.bx--dropdown.bx--list-box {
  margin-left: 1px;
}

.bx--list-box__menu {
  margin-bottom: 1px;
}

.bx--checkbox,
.bx--toggle-input {
  position: initial;
}

.bx--fieldset {
  margin-bottom: 0;
}

.datetime-picker {
  display: flex;
  flex-direction: column;

  .datetime-picker-selectors {
    display: flex;
    flex-direction: row;
  }
}

.full-width {
  max-width: 100% !important;
}

.invalid-text {
  color: $support-01;
  font-size: 0.75rem;
  line-height: 1.34;
  letter-spacing: 0.32px;
  margin: 0.25rem 0 0;
}
