#recap {
  h5,
  h6 {
    font-size: 1rem;
    font-weight: 400;
  }

  .recap-input-row-values-container {
    margin-top: 1rem;
  }

  .recap-input-row {
    display: flex;
    flex-direction: column;
  }

  .recap-input-row-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;

    svg {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .recap-input-row-values {
    margin-bottom: 1rem;

    & > h6 {
      margin-bottom: 0.25rem;
    }

    & > span {
      color: $text-05;
    }
  }
}
