@import '~@ublique/components/theme';

.bx--file-browse-btn {
  max-width: 100%;

  .bx--file__drop-container {
    align-items: center;
    justify-content: center;
  }
}

.bx--file-filename {
  margin-left: 0 !important;
}

.upload-container {
  margin-top: 0.5rem;

  .upload-title {
    margin-bottom: 0.5rem;
  }

  .bx--fieldset {
    margin-bottom: 0.25rem;
  }

  &.invalid {
    .bx--file__drop-container {
      border: 1px dashed $support-01;
    }
  }

  .upload-result {
    border: 1px #eee solid !important;

    .upload-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 5px 5px 0;

      h5 {
        padding: 0.25rem;
      }

      svg {
        cursor: pointer;
      }
    }

    .upload-text {
      padding: 0.25rem 0.5rem 0.5rem;
    }

    .warning,
    .error {
      font-weight: bold;
      text-transform: uppercase;
    }

    .warning {
      color: $support-03;
    }

    .error {
      color: $support-01;
    }

    .result-value {
      color: $text-05;
    }
  }
}
