.bx--row {
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;

  h3,
  p {
    display: block;
    width: 100%;
  }

  .section-title {
    padding-top: 0.5rem;
  }

  .section-line {
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
  }
}

.bx--col {
  display: flex;
  flex-direction: column;
  max-width: 50%;

  label {
    margin-bottom: 0.5em;
  }

  .bx--form-item {
    justify-content: flex-end;
  }
}
