.scenario-manager {
  /*------------------------- Heading section -------------------------*/
  .manager-heading {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  /*------------------------- Ag Grid Table -------------------------*/
  #scenario-table {
    width: 100%;
  }

  .highlight-row {
    animation: fadeIn ease 5s;
    // background-color: red;
  }

  .ublique-datatable .ag-cell {
    line-height: normal;
  }

  .table-header {
    align-items: center;
    display: flex;

    &.selected {
      background: #a9a9a9;
    }

    button {
      padding: 0.5rem 1rem;
    }

    .action-buttons {
      margin-left: auto;

      button svg {
        margin-left: 0.75rem;
      }
    }

    .label-container {
      padding-left: 1rem;
    }
  }

  .ag-cell {
    display: flex;
    align-items: center;
  }

  .ag-cell[col-id='progress'] {
    justify-content: center;
    // width: 220px !important;
  }

  .ag-react-container {
    padding-top: 0;
    width: 100%;
  }

  /*------------------------- Ag Grid Columns -------------------------*/

  .ag-pinned-right-header {
    .ag-header-cell-label {
      justify-content: center;
    }
  }

  div[col-id='status'] {
    text-align: center;
  }

  .ag-react-container .summary-column {
    display: flex;
    flex-direction: column;

    & > div {
      span:last-child {
        color: var(--text-05);
      }
    }
  }

  .title-column {
    a {
      color: var(--link-01);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: var(--hover-primary-text);
      }
    }
  }

  .date-column {
    display: flex;
    flex-direction: column;

    span:first-child {
      line-height: 2;
    }

    span:last-child {
      color: var(--text-05);
    }
  }

  .progress-column {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .flex-child {
      min-width: 120px;
    }

    .flex-wrap {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;

      a.output-link,
      div.error-link {
        text-decoration: none;

        & > :hover {
          cursor: pointer;
        }
      }

      div.error-link {
        color: var(--support-01);

        & > :hover {
          color: var(--inverse-support-01);
        }
      }

      a.output-link {
        color: var(--inverse-support-02);

        & > :hover {
          color: var(--support-02);
        }
      }

      .vertical-items {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // min-width: 133px;

        .progress-icon {
          cursor: pointer;
          line-height: 0;
        }
      }
    }

    .play-btn-disabled {
      color: gray;
      cursor: not-allowed;
    }

    .play-btn {
      cursor: pointer;
      min-width: 20px;
    }

    .bx--inline-loading__animation {
      width: 100%;

      .bx--loading--small {
        width: 2.5rem !important;
        height: 2.5rem !important;
      }
    }

    span {
      font-size: 12px;
    }

    span:first-child {
      line-height: 2;
    }
  }

  .progress-done {
    transition: width 250ms;
  }

  /*------------------------- Active Filters -------------------------*/
  #filters-box {
    background-color: darkgray;
    margin: 1rem 0;
    padding: 0 1rem;

    div.filter-info {
      padding: 1rem 0;
    }
  }
}
