.modal-settings {
  div.bx--modal-container {
    max-width: 24rem;
  }
  div.bx--form-item {
    margin-top: 0.25rem;
  }
  .modal-settings-inner-box {
    margin-bottom: 2rem;
    .bx--radio-button__appearance {
      margin-left: unset;
    }
  }

  .platform-info {
    opacity: 0.5;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);

    span {
      font-size: 12px;
    }
  }
}
