.grid-date-picker {
  &.bx--date-picker--single,
  &.bx--date-picker--simple {
    .bx--date-picker__input {
      width: 100%;
      border: 1px solid rgba(104, 104, 110, 0.3);
      border-radius: 3px;
      background-color: var(--ui-01);
      padding: 0 0.5rem;
      height: 24px;
      font-size: 13px;
      min-width: 7.5rem;
    }
    .bx--date-picker__icon {
      right: 0.5rem;
    }
  }
}
