.title-bottom {
  border-bottom: 0.7px solid #c4c4c4;
}

.actions-row {
  display: flex;
  justify-content: flex-end;
}

.gantt-and-map-section {
  display: flex;
  flex-direction: row;

  .gantt-section {
    width: 70%;
    margin-right: 6px;
    margin-bottom: 0;
  }

  .map-section {
    // width: 30%; // Disabilitato per demo
    width: 100%;
    position: relative;
    .map-error {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      padding: 8px 16px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      text-align: center;
    }
  }

  @media all and (max-width: 1365px) {
    flex-direction: column;

    .gantt-section,
    .map-section {
      width: 100%;
    }

    .gantt-section {
      height: 600px;
      margin-right: 0;
      margin-bottom: 6px;
    }
  }
}
