.grid-option-renderer {
  margin-right: 0.33em;
}

.grid-link-renderer {
  margin-right: 0.33em;
  pointer-events: all;
  cursor: pointer;
}

.ublique-cell-link-renderer {
  display: flex;
  align-items: center;
  height: 40px;
}

.row-unsaved-edits {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--interactive-04);
  margin-left: 10px;
}
