.modal-translation-search {
  @media (min-width: 82rem) {
    .bx--modal-container {
      width: 67%;
    }
  }
  .bx--modal-header {
    h3 {
      line-height: unset;
      .modal-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .modal-header-results {
          display: flex;
          align-items: center;
          .header-loader {
            font-size: large;
            max-height: 1rem;
            min-height: unset;
          }
        }
      }
    }
  }
  .bx--modal-content {
    padding: 0 0.75rem;
    margin-bottom: 3.5rem;
    min-height: max-content;
    overflow-y: unset;
  }
  .search-bar {
    margin-top: 0.5em;
  }
  .modal-body-container {
    overflow-y: auto;
    height: 100%;
    .no-data {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      font-weight: 700;
    }
    .bx--structured-list {
      margin-bottom: 0;
      .cell-value {
        word-break: break-word;
        font-weight: 700;
      }
      .cell-link {
        color: var(--link-01);
        text-decoration: none;
        word-break: break-word;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: 0.16px;
        color: var(--link-01);
        text-decoration: none;
      }
      .cell-link:hover {
        color: var(--hover-primary-text);
        text-decoration: underline;
      }
    }
    .custom-inline-loader {
      height: 120px;
      justify-content: center;

      .bx--inline-loading .bx--loading__svg circle {
        stroke-width: 20;
      }
      .bx--loading__svg {
        transform: scale(2.4);
      }
    }
    div.bx--form-item {
      margin-top: 0.25rem;
    }
    .show-more-button {
      margin: 0.75em 0;
      justify-content: center;
      display: flex;
      Button {
        padding: 0.75rem 1.75rem;
      }
    }
  }
}
