.KPIs-view {
  .plan-kpis-view,
  .scenario-kpis-view,
  .focus-tabs .ublique-tabs-content {
    overflow-x: hidden;
  }

  .bx--row {
    flex-direction: row;
  }

  .section-header {
    margin-top: 46px;
    margin-bottom: 0;
  }

  @media screen and (max-width: 671px) {
    padding: 0 0.6rem;

    .extra-content-box {
      .info-box-container__content {
        flex-direction: column;
        .info-box-container__extra-content {
          width: 100%;
        }
      }
    }
  }
}

.statistics-grid {
  padding-right: 0;
  padding-left: 0;
}

.kpis-row {
  margin-bottom: 2em;
}

.info-box-item,
.info-box-item--tall {
  background-color: var(--ui-01);
}

.info-box-container__item:not(:last-of-type) {
  border-bottom: 1px solid var(--ui-04);
}

.info-box-item {
  height: 340px;
  padding: 18px;

  &--tall {
    height: 480px;
  }
}
