.errors-handler-modal {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 80%;
  overflow: auto;
  .subtitle {
    padding-top: 1rem;
    margin: 0;
    font-size: inherit;
  }
  .caption-btn {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .btn {
      position: fixed;
      right: 1.2rem;
      bottom: 0.8em;
      padding: 1rem 1rem 1rem 0.5rem;
    }
  }
}

.debug-msg-modal {
  .bx--modal-container {
    min-height: 300px;
    .bx--modal-header {
      border-bottom: 1px solid var(--ui-05);
      padding-bottom: 0.3rem;
    }
  }
}
